fastapi
uvicorn[standard]
beautifulsoup4
requests
selenium
python-Wappalyzer
undetected-chromedriver
builtwith
supabase
python-dotenv
langchain
langchain-community
langchain-ollama
faiss-cpu
sentence-transformers
langchain-huggingface
vaderSentiment